<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="go-import" content="{{ .Import }} {{ .VersionControl }} {{ .Repository }}">
    <meta name="go-source" content="{{ .Import }} {{ .Display }}">
    <meta http-equiv="refresh" content="0; url={{ .Godoc }}">
  </head>
  <body>
    <a href="{{ .Godoc }}">
      Go reference (Godoc)
    </a>
  </body>
</html>
